<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <br>
    <i class="fa fa-commenting-o fa-7x"></i>
    <h4 id="myModalLabel" class="semi-bold">New message send all devices</h4>
</div>
<div class="modal-body">
    <div class="row form-row">
        <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Title" ng-model="dataPush.title">
        </div>
    </div>
    <div class="row form-row" style="margin-bottom: 10px">
        <div class="col-md-6 pull-left" style="width: 50%">
            <button id="tab_images_uploader_pickfiles" class="btn default " style="margin-bottom: 10px" ngf-select ng-model="files" ngf-multiple="true">
                <i class="fa fa-plus"></i> Image intro
            </button>
            <img src="{{dataPush.imgIntro}}" alt="" class="img-responsive"/>
        </div>
        <div class="col-md-6 pull-right" style="width: 50%">
            <button id="tab_images_uploader_pickfiles1" class="btn default " style="margin-bottom: 10px" ngf-select ng-model="files1" ngf-multiple="true">
                <i class="fa fa-plus"></i> Image content
            </button>
            <img src="{{dataPush.imgIntro1}}" alt="" class="img-responsive"/>
        </div>
    </div>
    <div class="row form-row">
        <div class="col-md-12">
            <div text-angular ng-model="dataPush.new"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <span dropdown on-toggle="toggled(open)" class="pull-left">
      <select name="singleSelect" id="singleSelect" ng-model="data.room">
          <option value="">---Select room---</option> <!-- not selected / blank option -->
          <option value="{{item}}" ng-repeat="item in rooms" ng-click="selectedRoom(item)">{{item.name}}</option> <!-- interpolation -->
      </select>
    </span>
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save & push</button>
</div>